@import "tailwindcss";
@plugin "@iconify/tailwind4";


/*Aca vamos a definir los colores que vamos a usar en toda la app

Como usar: 
<div class="bg-(--bgColor-main)"></div>
<p class="text-(--textColor)"></p>
*/

:root {

  /*-------------------------------------COLORES DE BOTONES-------------------------------------*/
  --btnColor-primary: #008378;
  --btnColor-primary-hover: #06a89b;
  /*para botones de accion principales*/


  --btnColor-secondary: #3F61D1;
  /*para botones de accion secundarios*/


  /*-------------------------------------COLORES DE FONDOS-------------------------------------*/
  --bgColor-main: #F5FAF8;
  /*para fondos (es el color principal del frontend)*/


  /*-------------------------------------COLORES DE TEXTOS-------------------------------------*/
  --textColor: #000000;
  /*para texto*/


  --textColor-secondary: #FFFFFF;
  /*para texto secundario (solo en boton primary o secondary)*/



  /*-------------------------------------COLORES DE BORDES-------------------------------------*/
  --borderColor-input: #CAD5D1;
  /*para bordes de input*/


  /*-------------------------------------COLORES DE SIDEBAR-------------------------------------*/
  --btnColor-sidebar-hover: #0083781a;
  /*para hover de sidebar*/

}




/*Aca definimos estilos base para etiquetas comunes, pero si no les gusta los estilos base, me avisan*/
@layer base {
  h1 {
    @apply font-bold text-[28px] text-[--textColor];
  }

  h2 {
    @apply font-bold text-sm text-gray-400;

  }

  h3 {
    @apply font-bold text-lg text-[--textColor];
  }


  label {
    @apply block text-sm font-medium mb-1 text-[--textColor];
  }

  input[type="text"],
  input[type="email"],
  input[type="password"],
  input[type="number"],
  input[type="search"] {
    @apply w-full px-3 py-2 rounded-md border-1 border-(--borderColor-input) bg-(--bgColor-main) text-sm text-(--textColor) outline-none;
  }

  /*-------------------------------------ESTILOS PARA TABLAS-------------------------------------*/
  table {
    @apply text-sm border-2 border-separate border-spacing-0 rounded-md border-(--borderColor-input) shadow-md overflow-hidden;
  }

  th {
    @apply border-b-2 border-(--borderColor-input) p-2;
  }

  td {
    @apply p-2;
  }

  tbody {
    @apply bg-white text-center;
  }

  tfoot {
    @apply bg-white border-t-2 border-(--borderColor-input);
  }

}


/*ACA SE DEFINEN LAS CLASES DE ESTILOS PERSONALIZADAS*/
@layer components {

  /*-------------------------------------ESTILOS PARA CONTENEDOR DE PAGINAS-------------------------------------*/
  .container-page {
    /*Envolver todas las paginas que hagan, con esta clase, para que tengan el mismo formato de espaciado y fondo*/
    @apply flex flex-col p-5 gap-5 w-full;
  }

  /*-------------------------------------ESTILOS PARA BUSCADORES-------------------------------------*/
  .input-search {
    @apply px-4 py-2.5 rounded-xl border border-(--borderColor-input) bg-white text-(--textColor) outline-none focus:border-(--btnColor-primary) focus:ring-1 focus:ring-(--btnColor-primary) transition-colors shadow-sm;
  }

  /*-------------------------------------ESTILOS PARA BOTONES-------------------------------------*/
  .btn-primary {
    @apply flex items-center gap-2 px-4 py-2 bg-(--btnColor-primary) text-(--textColor-secondary) text-sm font-medium rounded-xl shadow-md hover:bg-(--btnColor-primary-hover) transition-colors cursor-pointer;
  }


  /*-------------------------------------ESTILOS PARA BADGES-------------------------------------*/
  .badge {
    @apply text-[14px] font-medium px-2 rounded-md border-[1px] border-black/50 min-w-24 text-center;
  }

  .badge-success {
    @apply bg-green-300 text-green-800;
  }

  .badge-warning {
    @apply bg-yellow-300 text-yellow-800;
  }

  .badge-danger {
    @apply bg-red-100 text-red-800;
  }

  .card {
    @apply flex flex-col w-full bg-white border-1 border-(--borderColor-input) rounded-xl shadow-md p-5 gap-5;
  }
}